﻿@using Core.Entities;


@model Game
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        div {
            border: 1px solid powderblue;
            margin: 50px;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>IV World War</title>
</head>
<body>
    <h1 style="text-align:center;">IV World War</h1>
    <hr />
    <div class="row">
        <form asp-action="AddPlayer" border: 1px solid powderblue;>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Nazwa gracza 1
                <input asp-for="PlayerOneName" class="form-control" />
                <span asp-validation-for="PlayerOneName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj gracza" class="btn btn-default" />
            </div>
        </form>
    </div>
    <form asp-action="Results">
        <div class="form-group">
            <input type="submit" value="Pokaż wyniki" class="btn btn-default" />
        </div>
    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
