﻿@using Core.Entities;
@model IEnumerable<Score>
@{
    ViewData["Title"] = "Results";
}
@{var GameDate = Model.First().LocalDate; }
<html>

<head>

</head>

<body>
    <h2>Results</h2>
    <p>Count: @Model.Count()</p>
    @foreach (var p in Model)
    {
        @if (GameDate != p.LocalDate)
        {
            <hr /><p>Wynik kolejnej gry:</p>
            GameDate = p.LocalDate;
        }
        @if (p.IsWinner > 0)
        {
            <ul>
                <li><h4>Gracz @p.PlayerName Wygrał w tej grze, liczba strzałów: @p.NumberOfShots z liczbą trafień @p.Kills</h4></li>
            </ul>
        }
        else
        {
            <ul>
                <li>Gracz @p.PlayerName, liczba strzałów: @p.NumberOfShots, trafienia: @p.Kills</li>
            </ul>
        }
    }
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>