﻿@model Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        img {
            border: 1px solid powderblue;
            margin: 50px;
        }
        div {
            margin: 5px;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>IV World War</title>
</head>
<body>

    <h2 style="text-align:center;">Score</h2>
    <hr />
    <div class="col-md-4" style="border: 1px solid powderblue;">
        <h4>Ostatni strzał: @Model.LastShot</h4>
        <h3>Kolej Gracza @Model.PlayerTwoName</h3>
        <form asp-action="Start">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Angle" class="control-label"></label>
                <input asp-for="Angle" class="form-control" />
                <span asp-validation-for="Angle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strength" class="control-label"></label>
                <input asp-for="Strength" class="form-control" />
                <span asp-validation-for="Strength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Strzel" class="btn btn-default" />
            </div>

        </form>
    </div>
    <img src="@Model.ImageDirectory" alt="Game map" align="middle" />
    @*<img src="~/images/ActualMapShoot.png" alt="Game map" align="middle"/>*@
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
