﻿@model Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

    <h2>Game Over</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Start">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h1>Wygrał gracz @Model.PlayerOneName</h1>
        </form>
    </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
